.board {
  clear: both;
}
.board-rows {
  display: flex;
  justify-content: space-between;
}

.board-row {
  position: relative;
  width: 120px;
  height: 180px;
}

.board-row .card {
  position: absolute;
}
